.authBackground {
  position: relative;
  background-image: url('../../assets/images/authbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: 0;
}

.authBackground::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6); /* 👈 semi-transparent black overlay */
  z-index: 1;
}

.authBackground > div {
    position: relative;
    z-index: 2; /* 👈 Put content above overlay */
    min-width: 600px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    padding: 20px 55px;
}

.orDivider {
  display:flex;
  justify-content:center;
  align-items: center;
  color:grey;
  margin-top: 10px;
}

.orDivider:after,
.orDivider:before {
    content: "";
    display: block;
    background: grey;
    width: 100%;
    height:1px;
    margin: 0 10px;
}

.logoText {
    background: -webkit-linear-gradient(140deg,#347433, #FFC107);
    font-weight: bolder;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}